<div *ngIf="!loadingData; else loadingBlock">
  <div class="card">
    <div class="image">
      <img [src]="movieDetails.poster_path" alt="{{ movieDetails.title }}" class="card-image">
    </div>
    <div class="content">
      <h2>
        <a href="">
          {{ movieDetails.title | title }}
        </a>
      </h2>
      <div class="release-date">
        <p>
          {{ movieDetails.release_date }}
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingBlock>
  <app-loading-spinner [isLoading]="loadingData"></app-loading-spinner>
</ng-template>
